* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;
}

.container {
    max-width: 100%;
    padding: 0 20px;
}

.button__primary {
    background-image: linear-gradient( to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: box-shadow 0.2s;
}

.button__primary:hover {
    border: 2px solid #dd2476;
    box-shadow: 2px 2px 5px #440320;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}


/* HERO SECTION */

.hero__image__container {
    width: 100%;
}

.hero__image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
}

.hero__text {
    font-size: 30px;
    margin: 20px 0;
}


/* RESPONSIVE DESIGNING */

@media (min-width: 768px) {
    .navbar {
        justify-content: space-between;
        padding: 1px 30px;
    }
    .hero__container {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

@media (min-width: 1020px) {
    .container {
        width: 85%;
        margin: 0 auto;
        padding: 0 20px;
    }
    .navbar__brand {
        width: 150px;
    }
    .button__primary {
        padding: 20 px;
        font-size: 20px;
    }
    .hero__description {
        width: 100%;
    }
    .hero__text {
        font-size: 50px;
    }
}

@media (min-width: 1440) {
    .container {
        max-width: 85%;
    }
}